<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add page</title>
  <!-- BOOTSTRAP -->
  <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
  <div class="container" style="padding-top: 40px;">
    <div>
      <h1>Lista de Usuarios</h1>
    </div>


    <div class="card">
      <div class="card-header">
        Usuarios
      </div>


      <div class="card-body">
        <form method="post" th:object="${usuario}" th:action="@{/nuevo}">
          <input type="hidden" th:field="*{id}">
          <div class="mb-3">
            <label class="form-label" for="name">Nombre:</label>
            <input class="form-control" type="text" id="name" th:field="*{name}">
          </div>

          <button class="btn btn-primary" type="submit">Guardar</button>
          <a class="btn btn-light" href="/users">Volver a la lista</a>
        </form>
        
      </div>
    </div>

    <div style="text-align: center; padding: 20px;">
      <a target="_blank" href="https://docs.docker.com/">Docker</a>
    </div>
  </div>
</body>

</html>





